.header {
    position: fixed;
    right: 50px;
    bottom: 40px;
    color: white;
    z-index: 1000;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
        display: none;
    }

    .menu {
        width: 200px;
        height: 200px;
        background-color: black;
        border-radius: 25px;
        position: relative;
        border: 1px white solid;
        color: white;
    }
}

.header:hover {
    transform: translateY(-5px) scale(1.05);
    // box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}